
body {
	
	margin: 0;
	padding: 0;
	
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	button {
		padding: .5rem 1rem;
		margin: .2rem;
		font-size: 1rem;
		
		outline: none;
		
		&:not(:disabled) {
			cursor: pointer;
		}
	}
}

.skinA {
	button {
		border: none;
		border-radius: 5px;
		background-color: #8daa26;
		color: #fff;
		
		&:disabled {
			opacity: .6;
		}
		
		&.btnConfirm {
			background-color: lightsteelblue;
		}
	}
	
	.btn-loading {
		position: relative;
		color: #0000;
		
		&:after {
			content: "";
			position: absolute;
			width: 16px;
			height: 16px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			border: 4px solid transparent;
			border-top-color: #ffffff;
			border-radius: 50%;
			animation: button-loading-spinner 1s ease infinite;
		}
	}
	
	@keyframes button-loading-spinner {
		from {
			transform: rotate(0turn);
		}
		
		to {
			transform: rotate(1turn);
		}
	}
}

///////////COLOR

.red {
	background-color: #ff000085 !important;
}

.yellow {
	background-color: #ffff0085 !important;
}

.green {
	background-color: #00800085 !important;
}

.blue {
	background-color: #0000ff85 !important;
}

.violet {
	background-color: #ee82ee85 !important;
}

.grey {
	background-color: #80808085 !important;
}
