
body {
	
	margin: 0;
	padding: 0;
	
	#app {
		font-family: Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	
	button {
		padding: .5rem 1rem;
		margin: .2rem;
		font-size: 1rem;
		
		outline: none;
		
		&:not(:disabled) {
			cursor: pointer;
		}
	}
	
	tr {
		&.red > td {
			background-color: #ff000085;
		}
		
		td.red {
			background-color: #ff000085 !important;
		}
		
		&.yellow > td {
			background-color: #ffff0085;
		}
		
		td.yellow {
			background-color: #ffff0085 !important;
		}
		
		&.green > td {
			background-color: #00800085;
		}
		
		td.green {
			background-color: #00800085 !important;
		}
		
		&.blue > td {
			background-color: #0000ff85;
		}
		
		td.blue {
			background-color: #0000ff85 !important;
		}
		
		&.violet > td {
			background-color: #ee82ee85;
		}
		
		td.violet {
			background-color: #ee82ee85 !important;
		}
		
		&.grey > td {
			background-color: #80808085;
		}
		
		td.grey {
			background-color: #80808085 !important;
		}
	}
}


.skinA {
	button {
		border: none;
		border-radius: 5px;
		background-color: #8daa26;
		color: #fff;
		
		&:disabled {
			opacity: .6;
		}
		
		&.btnConfirm {
			background-color: lightsteelblue;
		}
	}
}
